/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }


/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni
s pribyvajici sirkou pridavame media query pro
středně široké obrazovky:
@media (min-width: 480px) {
}
široké obrazovky
@media (min-width: 860px) {
}
*/


body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    justify-content: center;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}


/* ------------------------------- */
/* ----- DOLE BUDE TVOJE CSS ----- */
/* ------------------------------- */
.container {
    color: white;
}

.meta {
    display: flex;
    justify-content: space-between;
}
.title {
    margin: 0;
    padding: 0.5rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 1.75rem;
}

.category {
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    font-weight: 400;
    font-size: 1.2rem;
}
.comments {
    text-decoration: none;
    color: white;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    font-weight: 400;
    font-size: 1.2rem;
}

.salad {
    display: flex;
    flex-direction: column-reverse;
    background-image: url('images/salat.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 200px;
}

.toast {
    display: flex;
    flex-direction: column-reverse;
    background-image: url('images/chlebicek.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.legumes {
    display: flex;
    flex-direction: column-reverse;
    background-image: url('images/cizrna.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.tacos {
    display: flex;
    flex-direction: column-reverse;
    background-image: url('images/tacos.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.burger {    
    display: flex;
    flex-direction: column-reverse;
    background-image: url('images/burger.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (min-width: 480px) {
    .title {
        font-size: 2rem;
    }
    .category,
    .comments {
        font-size: 1.5rem;
    }
    .sub-recipes {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .salad {
        min-height: 250px;
    }
    .toast,
    .legumes,
    .tacos,
    .burger {
        min-height: 150px;
        max-width: 340px;
    }
}

@media screen and (min-width: 680px) {
    .title {
        font-size: 3rem;
    }
    .category,
    .comments {
        font-size: 1.75rem;
    }
  .container {
        display: flex;
        max-height: 400px;
    }
    .salad {
        min-height: 400px;
    }
    .sub-recipes {
        display: flex;
        flex-wrap: wrap;
        min-width: 680px;
        flex-grow: 1;
    }
    .toast,
    .legumes,
    .tacos,
    .burger {
        min-height: 200px;
        max-width: 340px;
    }
}